nav{
margin-top:-16px;
background-color:#2282bb;
width:100%;
height:5rem;
}
ul{
display: flex;
list-style:none;
justify-content:center;
padding-top:15px;
justify-content:center;
}
li{
padding:10px;
}
#div-img{
display:flex;
}
a{
color:black;
}
#form{
background-color:white;
width:50%;
margin:auto;
border-style:solid;
border-radius:5px;
padding-bottom:17px;
box-shadow: 5px 10px #888888;
}
input[type="text"]{
width:50%;
}
input[type="password"]{
width:50%;
}
form{
text-align:left;
padding-left:250px;
line-height:20px;

}
